@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Nunito+Sans:wght@300;400&display=swap');

$colorPrimary:#f6ab4a;
$colorDark:#343a40;
$colorText:#798490;
$colorGray:#F5F7FD;
$colorLight:#f2f1ef;
$colorWhite:#fff;
$colorBlack:#000;

$fontPrimary: 'Comfortaa', cursive;
$fontSecondary: 'Nunito Sans', sans-serif;

$mediumSize:992px;
$littleSize:768px;
